
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}
/* .mat-drawer { 
    
    background-color: #fafafa;

   
} */
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}
/* .mat-drawer { 
    background-color: #e3f2fd
  
} */
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}




.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.titleNane
{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.ActiveInput{
    display: flex;
    align-content: center;
    justify-content: space-around;
    /* flex-direction: row; */
    flex-wrap: wrap;
}


/* Mobile suported device */

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .gfg-div {
      background-color: #63c971;
      color: #fff;
    }
  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  
  }
   
  /* For Mobile Portrait View */
  @media screen and (min-device-width: 480px)
  {
    
      .mat-form-field {
        font-size: 12px;
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
    }
}
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  
    .primaryclass .lable{
      color: white;
      font-size: 12px;
    }
    .titleNane
  {
      font-size: 11px;
      display: flex;
  }
  .mat-form-field {
    font-size: 12px;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
}
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    .mat-form-field {
        font-size: 12px;
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
    }
  }
   
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
    .mat-form-field {
        font-size: 12px;
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
    }
  }
   
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .mat-form-field {
        font-size: 12px;
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
    }
  }
   
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
   
  }
   
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
   
  }