<div class="container-flude">
    <div class="row">
        <div class="col-sm">
            <div class="col-sm headerBackground" >
                <div class="cardDesign">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><span class="text"> Privacy Policy </span></button>
                        <button type="button" class="btn btn-light"><span class="text"> About Us </span></button>
                        <button type="button" class="btn btn-light"><span class="text"> Contact us </span></button>
                    </div> 
                    <div class="btn-group english-marathi" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><span class="text"> English </span></button>
                        <button type="button" class="btn btn-light"><span class="text"> Marathi </span></button>

                    </div> 
                </div>
                <!-- <mat-card class="cardDesign">
                   <mat-card-title>
                       <div class="btn-group" role="group" aria-label="Basic example">
                           <button type="button" class="btn btn-light"><span class="text"> Privacy Policy </span></button>
                           <button type="button" class="btn btn-light"><span class="text"> About Us </span></button>
                           <button type="button" class="btn btn-light"><span class="text"> Contact us </span></button>
                       </div>              
                   </mat-card-title>
                </mat-card> -->
           </div>
            <img src="../../../assets/wallpaper.png" class="header_image" width="100%" >
        </div>
    </div>
</div>

