<div class="container-flude">
    <div class="row">
        <div class="col-sm-8 wal-colmn">
          <mat-card class="wal-colmn-search-card">
            <div class="row">
              <div class="col-4">
                <form class="form-inline">
                  <input class="form-control mr-sm-2 searcInput" type="search" placeholder="search" aria-label="Search">
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" onclick="history.back()" aria-label="Example icon button with a filter list icon">
                      <mat-icon>chevron_left</mat-icon>
      
                    </button>
                  </div> 
                </form>
              </div>
              <div class="col-1">
                           
              </div>
            </div>
            <!-- <form >
              <mat-form-field appearance="fill" class="searcInput">
                <mat-label class="searchLable">type here..!</mat-label>
                <input matInput  >
              </mat-form-field>
              <button type="button" mat-stroked-button class="mat-raised-button color" color="primary">Search</button>
            </form>
             -->
          </mat-card>
          <br>
            <mat-card class="example-card primary">
                <mat-card-title-group>
                    <mat-card-title> sunt aut facere repellat provident occaecati excepturi optio reprehenderit ...
                    </mat-card-title>
                    <mat-card-subtitle>The Shiba Inu is the smallest of the</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    content

                    <br><br>
                    <mat-card>
                        <mat-card-title-group>
                            <mat-card-title class="post-detials-list"> 
                                <mat-list>
                                    <h3>Discription No 1</h3> 
                                    
                                    <mat-divider></mat-divider>
                                </mat-list>
                              
                            </mat-card-title>
                                
                        </mat-card-title-group>
                        <mat-card-content>
                        
                            <table class="table table-striped">
                                <thead>
                                  <tr  class="post-detial-row">
                                    <th scope="col" >Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" >Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </tbody>

                                <thead>
                                    <tr>
                                      <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </tbody>
                                  <thead>
                                    <tr>
                                      <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </tbody>
  
                                  <thead>
                                      <tr>
                                        <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                        <td>Lorem Ipsum</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">Lorem Ipsum</th>
                                        <td>Lorem Ipsum</td>
                                      </tr>
                                    </tbody>
  

                              </table>

                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                        <mat-card-title-group>
                            <mat-card-title class="post-detials-list"> 
                                <mat-list>
                                    <h3>Discription No 2</h3> 
                                    
                                    <mat-divider></mat-divider>
                                </mat-list>
                              
                            </mat-card-title>
                                
                        </mat-card-title-group>
                        <mat-card-content>
                        
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                      <th scope="col" colspan="3" class="post-detial-row" style="text-align:center ">Lorem Ipsum</th>
                                    </tr>
                                  </thead>
                                <thead>
                                  <tr>
                                    <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                    <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                    <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>

                                  </tr>
                                  <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>

                                  </tr>
                                  <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>

                                  </tr>
                                  <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>

                                  </tr>
                                  <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>

                                  </tr>
                                </tbody>

                                

                              </table>

                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card>
                      <mat-card-title-group>
                          <mat-card-title class="post-detials-list"> 
                              <mat-list>
                                  <h3>Discription No 3</h3> 
                                  
                                  <mat-divider></mat-divider>
                              </mat-list>
                            
                          </mat-card-title>
                              
                      </mat-card-title-group>
                      <mat-card-content>
                      
                          <table class="table table-striped">
                              <thead>
                                <tr  class="post-detial-row">
                                  <th scope="col" >Lorem Ipsum</th>
                                  <td>Lorem Ipsum</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row" >Lorem Ipsum</th>
                                  <td>Lorem Ipsum</td>
                                </tr>
                              </tbody>

                              <thead>
                                  <tr>
                                    <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </tbody>
                                <thead>
                                  <tr>
                                    <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Lorem Ipsum</th>
                                    <td>Lorem Ipsum</td>
                                  </tr>
                                </tbody>

                                <thead>
                                    <tr>
                                      <th scope="col" class="post-detial-row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Lorem Ipsum</th>
                                      <td>Lorem Ipsum</td>
                                    </tr>
                                  </tbody>


                            </table>

                      </mat-card-content>
                  </mat-card>
                  <br>
                  <mat-card>
                    <mat-card-content class="post_details_appaly">
                          <button mat-flat-button color="primary"><span class="post_applay_lable">Applay online</span>  </button>
                          &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                          <button mat-flat-button color="accent"><span class="post_applay_lable">View Pdf</span></button>
                    
                    </mat-card-content>
                  </mat-card>
                <br>
                    <!-- <mat-list >
                        <mat-list-item class="post-detials-list">Discription No Lorem Ipsum</mat-list-item>
                        <mat-divider></mat-divider>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        Lorem Ipsum
                                    </div>
                                    <div class="col-3">
                                        Lorem Ipsum
                                    </div>
                                    <div class="col-3">
                                        Lorem Ipsum
                                    </div>
                                    <div class="col-3">
                                        Lorem Ipsum
                                    </div>
                                </div>
                            </div>                   
                         <mat-list-item class="post-detials-list"> Discription No 2</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item class="post-detials-list">Discription No 3</mat-list-item>
                      </mat-list> -->

                    <!-- <mat-list>
                        <mat-list-item>
                            <h2><span class="badge bg-primary">Discription No 1 </span></h2>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <h2><span class="badge bg-primary">Discription No 2 </span></h2>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <h2><span class="badge bg-primary">Discription No 3 </span></h2>
                        </mat-list-item>
                    </mat-list> -->
                </mat-card-content>
            </mat-card>
            <br>
            
        </div>

        <div class="col-sm-4  wal-colmn-side">
            <app-side-wall></app-side-wall>
        </div>
    </div>
</div>