
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #023075;
    color:#fff;
    border-bottom-left-radius: 45px;

}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #ffffff;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}


.mat-drawer {
    /* background-color: #023075; */
    color: #fff;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .iconLable{
    display: flex;
    justify-content: flex-start;
  }
  .profileCard{
    border-bottom-left-radius: 54px;
    background-color: #efefefad;

  }
  .mat-expansion-panel-header{
    background-color: #19B5FE !important;
  }
  /* .ullistcolore{
    background-color: #59ABE3 !important;

  } */
.side-wall-new-update{
   color: #ffffff !important;
   font-weight: bold;

}