<!-- <app-header></app-header> -->


<div [hidden]="!isVisible">
    <mat-toolbar color="primary" width="" >
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span> Demo Portal</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a style="" [routerLink]="['/main-wall']" routerLinkActive="router-link-active"   mat-button> <mat-icon>home</mat-icon> Home </a>
          <a href="#" [routerLink]="['/megabharti']" routerLinkActive="router-link-active" mat-button><mat-icon>speaker_notes</mat-icon> Mega Bharti</a>
          <a href="#" mat-button  [routerLink]="['/halltickets']" > <mat-icon>library_books</mat-icon> Hall Ticket's</a>
          <a href="#" mat-button  [routerLink]="['/exames']" >  <mat-icon> border_color</mat-icon>Exame's</a>
          <a href="#" mat-button  [routerLink]="['/results']" ><mat-icon>question_answer</mat-icon> Result's</a>
          <a href="#" mat-button  [routerLink]="['/halltickets']" > <mat-icon>public</mat-icon>General Knowledge</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <!-- <mat-sidenav-container fxFlexFill> -->
      <mat-sidenav #sidenav class="sideNave"> 
        <mat-nav-list class="mat-drawer">
          <a (click)="sidenav.toggle()"  mat-list-item><mat-icon>close</mat-icon>
          </a>
          <a href="#" (click)="sidenav.toggle()"  [routerLink]="['/main-wall']" routerLinkActive="router-link-active" mat-list-item><mat-icon>home</mat-icon>&nbsp;<span class="small_menu"> <small>Home </small></span></a>
          <a href="#"  (click)="sidenav.toggle()" [routerLink]="['/megabharti']" routerLinkActive="router-link-active"  mat-list-item><mat-icon>speaker_notes</mat-icon>&nbsp;<span class="small_menu"><small>Mega Bharti</small></span> </a>
          <a href="#"   (click)="sidenav.toggle()" mat-list-item [routerLink]="['/halltickets']"><mat-icon>library_books</mat-icon> &nbsp; <span class="small_menu"><small>Hall Ticket's</small></span></a>
          <a href="#"  (click)="sidenav.toggle()" [routerLink]="['/exames']"mat-list-item> <mat-icon> border_color</mat-icon>&nbsp;<span class="small_menu"><small>Exame's</small></span></a>
          <a href="#"  (click)="sidenav.toggle()" [routerLink]="['/results']"mat-list-item> <mat-icon>question_answer</mat-icon>&nbsp;<span class="small_menu"><small>Results </small></span></a>
          <a href="#" (click)="sidenav.toggle()" [routerLink]="['/megabharti']"mat-list-item> <mat-icon>public</mat-icon>&nbsp;<span class="small_menu"><small>General Knowledge</small></span></a>
          
        </mat-nav-list>
        
      </mat-sidenav>
      <!-- <mat-sidenav-content fxFlexFill  class="main-rounter" > -->
       
        <!-- <div class="container-flude">
          <div class="row">
            <div class="col-sm-12 " >
                  aa            
              </div>
            </div>
         
        </div>
         -->
        

      <!-- </mat-sidenav-content> -->
    <!-- </mat-sidenav-container> -->
  </div>
  <!-- <app-footer></app-footer> -->
