 

      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    
.jp-adminlogin{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* .jp-adminlogin .jp-left-image{
  background-image: url('../../assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
} */