
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #e3f2fd 
  
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 280px;
    padding:15px;
}

.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}


.mat-drawer {
    /* background-color: #023075; */
    color: #fff;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }


  /*  */
  table {
    width: 100%;
  }
  .buttonmargin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .buttonmargin button{
    
    background-color: #175893;
  }
  
  .titleNane{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.mat-elevation-z8 {    
    overflow-x: auto;
   }

   .ActionEye{
    width: 91px;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: stretch;
    font-size: 21px;
   }
   .ActionEye  .eye{
    color: #2a4695;
   }
   .ActionEye  .edit{
    color: #207a24
   }
   
   .publishD{
    width: 113px
   }
   .NamePost{
    /* width: 491px ; */
   }
   .postlistHRow{
    text-align: center;
    font-size: 12px;
   }
   .logoPhoto{
    width: 63px;
   }
   