<mat-sidenav-container fullscreen>
  <br>
  <mat-sidenav #sidenav class="mat-drawer">
    <div class="closedSidenave">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-dashboard-menu-list></app-dashboard-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="primaryclass">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <label class="lable">{{this.pageTitile}}</label>
      <span class="toolbar-spacer"></span>
      <app-toolbar></app-toolbar>
    </mat-toolbar>
    <div class="main-content">

      <div class="container">
        <mat-card class="example-card">
          <mat-card-title>

            <!-- <mat-icon>arrow_back</mat-icon> -->

            <label class="titleNane" for="">
              <button mat-icon-button routerLink="/Dashboard/postlist">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button> &nbsp;
              All Post </label>
          </mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          <mat-card-content>


            <div class="container">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Search columns" #input>
    
                  </mat-form-field>
                </div>
                <div class="col-6 buttonmargin">
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container">
                        <button mat-flat-button color="primary" [routerLink]="['/Dashboard/newPost']"
                          aria-label="Example icon button with a menu icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12">
    
          <!--  {
      "id" :1,
      "-post_advertisment_no":'BA1234567',
      "-post_name": 'THDCIL Recruitment 2022  THDCIL Recruitment 2022 THDCIL Recruitment 2022',
      "-post_details":'THDC India Limited, is under the ownership of National Thermal Power Corporation Limited-THDCIL Recruitment 2022 (THDCIL Bharti 2022) for 109 Engineers Posts.THDC India Limited, is under the ownership of National Thermal Power Corporation Limited-THDCIL Recruitment 2022 (THDCIL Bharti 2022) for 109 Engineers Posts.THDC India Limited, is under the ownership of National Thermal Power Corporation Limited-THDCIL Recruitment 2022 (THDCIL Bharti 2022) for 109 Engineers Posts.',
      "-post_short_details":'CG Indian Coast Guard, Indian Coast Gu',
      "-post_publish_date": '02-02-2022',
      "-post_closed_date": '02-07-2022',
      "-post_closed_date_extended": '02-08-2022',
      "post_image":'https://www.thdc.co.in/sites/all/themes/thdc//images/logo-m.png',
      "==post_loga":'https://www.thdc.co.in/sites/all/themes/thdc//images/logo-m.png',
      "-isActive":true,
      "-isNew":true,
      "-post_type":'THDCIL',
      "-post_no_of_post":200,
      "-post_age_req":25,
      "-post_location":'parli',
      "-post_fees":500,
      "-post_obc_fees":500,
      "-post_open_fees":300,
      "-post_other_fees":100,
      "-post_exam_date":'20-12-2023',
      "-post_official_website":'www.google.com',
      "-post_pdf_document":'' ,
      "-post_department":"",
      "post_category": [
        {
          "post_id":1,
          "sub_post_category_id":1,
          "sub_post_name":'CAPF मधील उपनिरीक्षक (GD)',
          "sub_post_total_no":20,
          "sub_post_education_req":"BCA,MCA"
        },
       
      ]
    }, -->
    <div class="table-responsive">
      <table class="table table-striped table-hover " style="width:100%">
        <thead>
          <tr class="postlistHRow" style="">
            
            <th scope="col">Logo</th>
            <th scope="col">Add No</th>
            <th scope="col">Department</th>
            <th scope="col" class="NamePost">Name</th>
            <!-- <th scope="col">Details</th> -->
            <!-- <th scope="col">short_details</th> -->
            <th scope="col" class="publishD">Publish</th>
            <th scope="col" class="publishD">Closed</th>
            <th scope="col" class="publishD">Exam</th>
            <th scope="col">Location</th>
            <th scope="col">Active</th>
            <th scope="col">New</th>
            <th scope="col">Action</th>
  
  
  
          </tr>
        </thead>
        <tbody>
          <tr class="postdataTd" *ngFor="let data of wallData ; let  i =index ; ">
            <td>
              <img  *ngIf="data?.post_image"
               class="rounded logoPhoto rounded-circle mx-auto d-block img-fluid" src="{{data?.post_image}}"
                  alt="...">
             </td>
            <td>{{data?.post_advertisment_no}}</td>
            <td>{{data?.post_department}}</td>
            <td class="NamePost" >
              <!-- {{data?.post_name}} -->
              {{ data?.post_name  | slice:0:60 }}...  

              </td>
            <!-- <td>{{data?.post_details}}</td> -->
            <td>{{data?.post_publish_date}}</td>
            <td>{{data?.post_closed_date}}</td>
            <td>{{data?.post_exam_date}}</td>
            <td>{{data?.post_location}}</td>
            <td>
              <span class="badge rounded-pill bg-success" *ngIf="data?.isActive">Active</span>
              <span class="badge rounded-pill bg-danger" *ngIf="!data?.isActive">Closed</span>

            </td>
            <td>
              <span class="badge rounded-pill bg-danger" *ngIf="data?.isNew">New</span>
            </td>
            <td >
              <div  class="ActionEye">
                
                <button mat-button (click)="openDialog(i)"><mat-icon  class="eye">remove_red_eye</mat-icon></button>
                <mat-icon class="edit">edit</mat-icon>

              </div>
            </td>

          </tr>
      </table>

      <!-- modal -->
      
      </div>
   
  
          
                </div>
                <!-- <div class="col-1">col-4</div> -->
              </div>
            </div>

          </mat-card-content>
        </mat-card>
        </div>
       


      </div>
  </mat-sidenav-content>

</mat-sidenav-container>

