
<div class="container-flude">
  <div class="row">
    <div class="col-sm-8 wal-colmn"   >
      <ng-container *ngFor="let item of wallData ; let i = index" >
        <mat-card class="example-card primary"  >
            <mat-card-title-group>
              <mat-card-title> {{i}} {{  item?.title}}</mat-card-title>
              <mat-card-subtitle>The Shiba Inu is the smallest of the</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              {{item?.body}}
            </mat-card-content>
            <mat-card-actions> 
              <button mat-stroked-button color="warn"> Last Date :</button>
              <button mat-stroked-button color="primary"> Fees : </button>
              <button mat-stroked-button color="primary">Download Pdf</button>
              <button mat-stroked-button color="primary">Read More...</button>
            </mat-card-actions>
           
          </mat-card>
          <br>
        </ng-container>
    </div>
   
    <div class="col-sm-4  wal-colmn-side">
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      
      <br>
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      
      <br>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
          <p>This is the primary content of the panel.</p>
          <p>This is the primary content of the panel.</p>
          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
      
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
  </div>
</div>







