<mat-sidenav-container fullscreen>
  <br>
  <mat-sidenav #sidenav class="mat-drawer">
    <app-dashboard-menu-list></app-dashboard-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      My Application
      <span class="toolbar-spacer"></span>
      My Account
    </mat-toolbar>
    <div class="main-content">
      <app-admindashboard></app-admindashboard>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>