
<ul class="list-group">
    <li class="list-group-item active"> <b>New Updates</b> </li>
    <!-- <li class="list-group-item list-item-margins" *ngFor="let itemData of wallData ; let i=index">
      <span class="link-secondary side-wall-new-update ">
         <mat-icon >keyboard_arrow_right</mat-icon>
        {{i+1}}   {{ itemData?.post_name  | slice:0:35 }}...  
       </span>  
      <span class="badge rounded-pill bg-danger" *ngIf="itemData?.isNew">New</span>
    </li> -->
    
    <article class="leaderboard">
      <main class="leaderboard__profiles">
        <article class="leaderboard__profile list-group-item list-item-margins" *ngFor="let itemData of wallData ; let i=index">
          <img src="{{itemData?.post_image}}" alt="Mark Zuckerberg" class="leaderboard__picture">
          <span class="leaderboard__name link-secondary side-wall-new-update">   {{ itemData?.post_name  | slice:0:35 }}... </span>
          <span class="badge rounded-pill bg-danger" *ngIf="itemData?.isNew">New</span>
        </article>
      </main>
    </article>
  </ul>



  
  <br>
    <mat-accordion>
      <ul class="list-group">
        <li class="list-group-item active"> <b> Result Or Answer Key</b> </li>
    <mat-expansion-panel  *ngFor="let itemData of wallResultAnswerKey; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="link-secondary side-wall-new-update ">
         {{ itemData?.post_name  | slice:0:35 }}...  
          </span>  
        </mat-panel-title>
      
      </mat-expansion-panel-header>
      <ng-container  *ngIf="itemData?.isResult">
       <button mat-raised-button class="button_click" color="primary"><span > Result</span></button>
      </ng-container>
      &nbsp; 
      <ng-container  *ngIf="itemData?.isAnswerKey">
         <button mat-raised-button class="button_click" color="accent"><span > Answer key</span></button>
      </ng-container>
     <!-- {{ itemData?.resultLink  || 'NA '}} -->
      <!--  <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p> -->

    </mat-expansion-panel>
    </ul>
  </mat-accordion>
  <br>  
 
<ul class="list-group">
  <li class="list-group-item active"> <b>Results </b></li>
  <!-- <li class="list-group-item list-item-margins" *ngFor="let itemData of wallData ; let i=index">
    <span class="link-secondary side-wall-new-update ">
       <mat-icon >keyboard_arrow_right</mat-icon>
      {{i+1}}   {{ itemData?.post_name  | slice:0:35 }}...  
     </span>  
    <span class="badge rounded-pill bg-danger" *ngIf="itemData?.isNew">New</span>
  </li> -->
  
  <article class="leaderboard">
    <main class="leaderboard__profiles">
      <article class="leaderboard__profile list-group-item list-item-margins" *ngFor="let itemData of wallData ; let i=index">
        <img src="{{itemData?.post_image}}" alt="Mark Zuckerberg" class="leaderboard__picture">
        <span class="leaderboard__name link-secondary side-wall-new-update"> {{ itemData?.post_name  | slice:0:35 }}... </span>
        <span class="badge rounded-pill bg-danger" *ngIf="itemData?.isNew">New</span>
      </article>
    </main>
  </article>
</ul>
  
  <br>

