
<ul class="list-group">
    <li class="list-group-item active">New Updates</li>
    <li class="list-group-item list-item-margins" *ngFor="let itemData of wallData">
       <mat-icon >keyboard_arrow_right</mat-icon>
       <span class="link-secondary side-wall-new-update ">
         {{ itemData?.post_name  | slice:0:35 }}...  
       </span>  
      <span class="badge rounded-pill bg-danger">New</span>
    </li>
   
  </ul>
  <br>
    <mat-accordion>
      <ul class="list-group">
        <li class="list-group-item active">Result Or Answer Key</li>
    <mat-expansion-panel  *ngFor="let itemData of wallResultAnswerKey">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="link-secondary side-wall-new-update ">
            {{ itemData?.post_name  | slice:0:35 }}...  
          </span>  
        </mat-panel-title>
      
      </mat-expansion-panel-header>
      <ng-container  *ngIf="itemData?.isResult">
        <p>Click Here to check result     <button mat-raised-button class="button_click" color="primary"><span > Result</span></button></p> 
      </ng-container>

     <!-- {{ itemData?.resultLink  || 'NA '}} -->
      <!--  <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p> -->

    </mat-expansion-panel>
    </ul>
  </mat-accordion>
  <br>  
  <ul class="list-group">
    <li class="list-group-item active">Result</li>
    <li class="list-group-item list-item-margins" *ngFor="let itemData of wallData">
       <span class="link-secondary side-wall-new-update ">
         {{ itemData?.post_name  | slice:0:35 }}...  
       </span>  
      <span class="badge rounded-pill bg-danger">New</span>
    </li>
   
  </ul>
  
  <br>

