.list-item-margins{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    line-height: 9px;
}
.side-wall-new-update{

    font-size: 14px;
}
.button_click{
    width: 155px;
    height: 27px;
}

.button_click span{
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}


















@media (max-width: 480px) {

    .side-wall-new-update{

    font-size: 12px;    }

    .button_click{
        width: 86px;
        height: 20px;
    }

    .button_click span{
        display: flex;
        flex-direction: column;
        margin-top: -7px;
        font-size: 10px;
    }    

}  