/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f7f9f7; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wal-colmn-side
{
  margin-top: 16px;

  padding: 31px;

}

.primaryclass
{
  background-color: #1CB4FB !important;
 
  
}
.primaryclass .mat-icon {
  
  color: white;
}
.primaryclass .lable{
  color: white;
}