/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f7f9f7; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wal-colmn-side
{
  margin-top: 16px;

  padding: 31px;

}

.primaryclass
{
  background-color: #006391 !important;
 
  
}
.primaryclass .mat-icon {
  
  color: white;
}
.primaryclass .lable{
  color: white;
  font-size: 14px;
}

.main-content{

  background-color: #e0f0fd;
}


/* Globar css */
.profilePhoto{
  height: 66px;
}
.profileName{
  font-weight: bold;
  font-size: 15px;
}
.profileEmail{
  font-size: 14px;
  margin: -10px 0 12px !important ;

}
.profileBio{
  font-size: 11px;
  margin: -10px 0 12px !important ;

}

/* Mobile suported device */

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .gfg-div {
    background-color: #63c971;
    color: #fff;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

}
 
/* For Mobile Portrait View */
@media screen and (min-device-width: 480px)

{  

}
@media screen and (max-device-width: 480px)
and (orientation: portrait) {


  .primaryclass .lable{
    color: white;
    font-size: 12px;
  }
  .titleNane
{
    font-size: 11px;
    display: flex;
}
mat-sidenav {
  width: 204px !important;
  padding:15px !important;
}

/* .profileCard{
  
  padding: 0px;
  margin-left: 9px;
  margin-top: 3px;
  border-radius: 19px;

} */

/* Globar css */
.profileCard{
  padding: 3px !important;
}
.profilePhoto{
  height: 70px;
  
}
.profileName{
  font-weight: bold;
  font-size: 13px;
  margin: -9px 0 12px !important ;
}
.profileEmail{
  font-size: 12px;
  margin: -18px 0 12px !important ;

}
.profileBio{
  font-size: 10px;
  margin: -13px 0 12px !important ;

  line-height: 13px;

}
/* menu */
.side-wall-new-update{
  font-size: 11px;
}
/* .mat-expansion-panel{
  height: 34px;
} */
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
 
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
 
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
 
}